<%= stylesheet_link_tag "home-index" %>

<div class='grid'>
  <div class='content'>
    <div class="image">
      <%= image_tag 'taste-of-cherry.jpg', alt: 'A scene of an afternoon sunset in Tehran' %>
      <div>'Taste of Cherry' - Abbas Kiarostami</div>
    </div>
    <div class='about'>
      <h1>Yining Zhang</h1>
      <div class="intro">
        <div>I hope you're having a great day!</div>
      </div>
    </div>
  </div>
</div>
